<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Title{% endblock %}</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body{background-color="white";}
    </style>
</head>
<body >

<!-- Navigation bar -->
<ul>
  <li><a class="active" href="{% url 'books1' %}">Home</a></li>
  <li><a href="{% url 'books' %}">All Books</a></li>
  <li><a href="{% url 'contact' %}">Contact Us</a></li>
  <li><a href="{% url 'success' %}">Success</a></li>
</ul>

<!-- Content block, where child templates will insert their content -->
{% block content %}


{% endblock %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- Footer -->
<footer class="fixed-footer">
    <!-- Footer content goes here -->
    <p>&copy; 2025 UoS BookStore</p>
</footer>
<!-- Footer -->
</body>
</html>
