{% extends "base.html" %}
{% block title %}
  My Tennis Club - List of all members
{% endblock %}

{% block content %}
<h1> UoS Books</h1>
<div class="container">
<table border="1" align="center">
    <!--CREATE part of CRUD-->
    <form method="post" action="{% url 'books' %}">{% csrf_token %}
    <tr><th>Title</th><th>Author</th><th>Genre</th><th>Price</th><th>Stock</th>
    </tr>
        {% if not form.instance.id %}
    <tr>
       {% include 'save.html' %}
    </tr>
        {% endif %}
 {% for bk in book %}
    <tr>
        {% if form.instance.id == bk.id %}
        {% include 'save.html' %}
        {% else %}
        <td>{{bk.title}}</td>
        <td>{{bk.author}}</td>
        <td>{{bk.genre}}</td>
        <td>{{bk.price}}</td>
        <td>{{bk.stock}}</td>
       <td><button formnovalidate name="edit" value="{{ bk.id }} ">UPDATE</button></td>
       <td> <button formnovalidate name="delete" value="{{ bk.id }}">DELETE</button></td>
    {% endif %}
    </tr>
{% endfor %}
        </form>
</table>

<br/>
    <div align="center">
<form action="{% url 'contact' %}" method="get"><button type="submit" class="btn"  >Contact Us</button></form>
 </div>
    {% endblock %}
